{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "prettier"
  ],
  "globals": {
    "document": true,
    "window": true,
    "process": true,
    "sessionStorage": true,
    "localStorage": true,
    "fetch": true,
    "Headers": true,
    "navigator": true,
    "CloseEvent": true,
    "HTMLButtonElement": true,
    "WebSocket": true,
    "HTMLInputElement": true,
    "HTMLDivElement": true,
    "File": true
  },
  "rules": {
    "react/jsx-no-useless-fragment": "off",
    "prettier/prettier": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/extensions": 0,
    "quotes": [
      "error",
      "double"
    ],
    "semi": [
      "error",
      "always"
    ],
    "camelcase": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "react/no-unstable-nested-components": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "_"
      }
    ],
    "no-use-before-define": "off",
    "no-unused-expressions": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts",
          ".tsx",
          ".d.ts"
        ],
        // add .d.ts here
        "moduleDirectory": [
          "node_modules",
          "."
        ]
      }
    },
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    }
  },
  "root": true
}
