{{define "preheader"}}Someone tried to sign up with this address. No new account was created.{{end}}

{{define "headline"}}You already have {{template "mark" (printf "a %s account." .ProductName)}}{{end}}

{{define "content"}}{{template "paragraph" (greeting "Hi" .FirstName)}}
{{template "paragraph" (printf "Someone tried to sign up for %s with this email address, but it already belongs to an account. No new account was created." .ProductName)}}
{{template "button" (button .LoginURL "Sign in")}}
<p style="margin:0;padding:0;font-size:16px;line-height:1.6;color:#121210">Forgot your password? <a href="{{.ForgotPasswordURL}}" rel="noopener noreferrer nofollow" style="color:#121210;text-decoration:underline;text-underline-offset:3px" target="_blank">Reset it from the sign-in page</a>.</p>{{end}}

{{define "closing"}}{{template "note" "If this was not you, you can ignore this email. Your account has not changed."}}{{end}}
