<!DOCTYPE html>
<html>
<head>
    <title>Data Message</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white">
    <div class="container mx-auto p-4">
	<!-- Header -->
	<header class="text-center mb-6">
		<img src="http://localhost:9000/trenova-media/organizations/logo/logo.webp" alt="Trenova Logo" class="mx-auto mb-2" style="max-height: 100px;">
		<p class="text-sm text-gray-400">www.trenova.<b>app</b></p>
	</header>

        <h2 class="text-2xl font-bold mb-4">Data Message Received</h2>

        <!-- After Data Section -->
        <h3 class="text-xl font-semibold mb-2">After Data</h3>
        {{ if .After }}
        <table class="table-auto w-full mb-4">
            <thead>
                <tr class="bg-gray-800">
                    <th class="px-4 py-2">Key</th>
                    <th class="px-4 py-2">Value</th>
                </tr>
            </thead>
            <tbody>
                {{ range $key, $value := .After }}
                <tr class="bg-gray-700">
                    <td class="border px-4 py-2">{{ $key }}</td>
                    <td class="border px-4 py-2">{{ $value }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ else }}
        <p class="text-gray-500 mb-4">No data available.</p>
        {{ end }}

        <!-- Before Data Section -->
        <h3 class="text-xl font-semibold mb-2">Before Data</h3>
        {{ if .Before }}
        <table class="table-auto w-full mb-4">
            <thead>
                <tr class="bg-gray-800">
                    <th class="px-4 py-2">Key</th>
                    <th class="px-4 py-2">Value</th>
                </tr>
            </thead>
            <tbody>
                {{ range $key, $value := .Before }}
                <tr class="bg-gray-700">
                    <td class="border px-4 py-2">{{ $key }}</td>
                    <td class="border px-4 py-2">{{ $value }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ else }}
        <p class="text-gray-500">No data available.</p>
        {{ end }}

        <!-- Footer -->
        <footer class="text-center mt-6">
            <p class="text-sm text-gray-400">&copy; 2024 Trenova. All rights reserved.</p>
            <p class="text-sm text-gray-400">
                <a href="https://www.trenova.app" class="text-yellow-500">Visit our website</a> | 
                <a href="mailto:support@trenova.app" class="text-yellow-500">Contact Support</a>
            </p>
        </footer>
    </div>
</body>
</html>