# Local development environment variables (NOT FOR PRODUCTION)
COMPOSE_PROJECT_NAME=trenova-local-dev
CASSANDRA_VERSION=3.11.9
ELASTICSEARCH_VERSION=7.17.27
TEMPORAL_VERSION=1.30.1
TEMPORAL_ADMINTOOLS_VERSION=1.30.1
TEMPORAL_UI_VERSION=2.34.0
OPENSEARCH_VERSION=2.5.0
TRENOVA_DATABASE_HOST=db
TRENOVA_DATABASE_PORT=5432
TRENOVA_DATABASE_SSLMODE=disable
TRENOVA_DATABASE_NAME=trenova_go_db
TRENOVA_DATABASE_USER=postgres
TRENOVA_DATABASE_PASSWORD=postgres