*.rdb
.idea/*
*.iml
.idea
client/client.iml
test.http
backend/bin/air
*.log
.coverage
server/core/management/commands/get_memory_usage.py
client/stats.html
server/rate-confirmation.pdf
server/test.py
client/.npmrc
.fleet
server/test.edi
.env
tmp
*.pem
.pnotes
mc
gotest
config.dev.yaml
config.prod.yaml