*.pyc
*.iml
.gitattributes
/.vscode/
server/.mypy_cache/
/backend/venv/
/.idea/
/backend/backend/
/mvenv
/rvenv
server/.env
.env
server/media/
server/.pytest_cache
backend.iml
/scripts/startup.sh
/design/
__pycache__
server/templates
server/static/
