prod.trenova.app {
	tls internal
	
	handle /ws/* {
		reverse_proxy tren-api:3001 {
			header_up Host {host}
			header_up X-Real-IP {remote}
			header_up Connection "Upgrade"
			header_up Upgrade "websocket"
		}
	}

	handle /api/* {
		reverse_proxy tren-api:3001
	}

	handle /* {
		reverse_proxy tren-client:5173
	}
}
