art==5.9
celery~=5.2.7
channels==4.0.0
channels_redis==4.1.0
confluent-kafka==2.1.0
daphne==4.0.0
django==4.2
django-adminactions==2.0.0
django-auditlog==2.2.2
django-braces==1.15.0
django-cacheops==7.0
django-celery-beat==2.5.0
django-celery-results==2.5.0
django-cors-headers==3.14.0
django-encrypted-model-fields==0.6.5
django-environ==0.10.0
django-extensions==3.2.1
django-filter==23.1
django-localflavor==3.1
django-money==3.0.0
django-nested-inline==0.4.6
django-notifications-hq==1.7.0
django-pgtrigger==4.6.0
django-phonenumber-field==7.0.2
django-redis==5.2.0
django-rest-knox==4.2.0
django-timezone-field~=5.0
django_compressor==4.3.1
djangorestframework~=3.14.0
drf-nested-routers==0.93.4
drf-spectacular==0.26.2
drf-standardized-errors[openapi]==0.12.5
geopy==2.3.0
googlemaps==4.10.0
hiredis==2.2.2
httpx==0.24.0
kubernetes==26.1.0
msgpack==1.0.5
openpyxl==3.1.2
orjson==3.8.10
pendulum==2.1.2
phonenumbers==8.13.10
Pillow==9.5.0
psycopg2==2.9.6
psycopg2cffi==2.9.0
pypdf==3.8.0
pytz==2023.3
redis==4.5.4
rich==13.3.4
weasyprint==58.1
whitenoise==6.4.0
xhtml2pdf==0.2.10
