art==5.8
celery~=5.2.7
celery-types==0.14.0
channels==4.0.0
confluent-kafka==2.0.2
daphne==4.0.0
django==4.1.7
django-adminactions==2.0.0
django-auditlog==2.2.2
django-braces==1.15.0
django-cacheops==6.2
django-celery-beat==2.4.0
django-celery-results==2.4.0
django-cors-headers==3.14.0
django-debug-toolbar~=3.8.1
django-encrypted-model-fields==0.6.5
django-environ==0.9.0
django-extensions==3.2.1
django-filter==22.1
django-lifecycle==1.0.0
django-localflavor==3.1
django-money==3.0.0
django-nested-inline==0.4.5
django-notifications-hq==1.7.0
django-pgtrigger==4.6.0
django-phonenumber-field==7.0.2
django-redis==5.2.0
django-rest-knox==4.2.0
django-silk==5.0.3
django-stubs==1.15.0
django-stubs-ext==0.7.0
django-timezone-field~=5.0
django_compressor==4.3.1
djangorestframework~=3.14.0
djangorestframework-stubs[compatible-mypy]==1.9.1
drf-nested-routers==0.93.4
drf-spectacular==0.25.1
factory_boy==3.2.1
hiredis==2.2.2
httpx==0.23.3
isort==5.12.0
msgpack==1.0.4
phonenumbers==8.13.6
Pillow==9.4.0
psycopg2==2.9.5
pydantic==1.10.5
pypdf==3.5.0
pytest~=7.2.1
pytest-bdd==6.1.1
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-html==3.2.0
redis==4.5.1
rich==13.3.1
tox==4.4.6
types-redis==4.5.1.4
weasyprint==58.0
whitenoise==6.4.0
xhtml2pdf==0.2.9
