art==5.8
celery~=5.2.7
channels==4.0.0
daphne==4.0.0
django==4.1.6
django-auditlog==2.2.2
django-braces==1.15.0
django-cacheops==6.1
django-celery-beat==2.4.0
django-celery-results==2.4.0
django-cors-headers==3.13.0
django-debug-toolbar~=3.8.1
django-encrypted-model-fields==0.6.5
django-environ==0.9.0
django-extensions==3.2.1
django-filter==22.1
django-lifecycle==1.0.0
django-localflavor==3.1
django-money==3.0.0
django-nested-inline==0.4.5
django-pgtrigger==4.6.0
django-phonenumber-field==7.0.2
django-redis==5.2.0
django-silk==5.0.3
django-stubs==1.14.0
django-stubs-ext==0.7.0
django-timezone-field~=5.0
django_compressor==4.3.1
djangorestframework~=3.14.0
djangorestframework-stubs[compatible-mypy]
drf-nested-routers==0.93.4
drf-spectacular==0.25.1
factory_boy==3.2.1
hiredis==2.2.1
httpx==0.23.3
isort==5.12.0
kafka-python==2.0.2
msgpack==1.0.4
phonenumbers==8.13.5
Pillow==9.4.0
psycopg2==2.9.5
pydantic==1.10.4
pytest~=7.2.1
pytest-bdd==6.1.1
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-html==3.2.0
redis==4.5.1
rich==13.3.1
tox==4.4.5
whitenoise==6.3.0
types-redis==4.4.0.6
django-adminactions==2.0.0