djangorestframework-stubs[compatible-mypy]==3.14.0
django-debug-toolbar==4.0.0
tox==4.5.1
django-stubs==4.2.0
django-stubs-ext==4.2.0
types-redis==4.5.4.1
pytest==7.3.1
pytest-bdd==6.1.1
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-html==3.2.0
factory_boy==3.2.1
celery-types==0.15.0
pydantic==1.10.7
pyupgrade==3.3.2
isort==5.12.0
pytest-sugar==0.9.7
