celery-types==0.15.0
django-debug-toolbar==4.1.0
djangorestframework-stubs[compatible-mypy]==3.14.0
factory_boy==3.2.1
isort==5.12.0
pydantic==1.10.8
pytest==7.3.1
pytest-cov==4.1.0
pytest-django==4.5.2
pytest-html==3.2.0
pytest-sugar==0.9.7
pyupgrade==3.4.0
tox==4.5.1
types-redis==4.5.5.2
