# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
email-service

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Environment files
.env

# IDE directories
.idea/
.vscode/

# Local development database data
tmp/

# Log files
*.log 