*.py[cod]
__pycache__/
*.iml
.gitattributes
/.vscode/
.mypy_cache/
/server/venv/
/.idea/
server/backend/
.env
.pytest_cache
server/server.iml
scripts/startup.sh
/design/
*/__pycache__
static/
rvenv
monta_frontend/node_modules
*.local
logs
templates
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
staticfiles
media
.data
.tox
django_config.md
postgres
celerybeat-schedule
.ruff_cache
/app_frontend/cypress
/app_frontend/cypress.config.ts
my_pypy_ven
*/migrations/*
kafka_listener_pid.txt
machine_learning
.coverage
ts_models
venv/*
monkeytype.sqlite3